body {
  background-image: url("../images/background.png");
  background-position: center;
  background-size: contain;
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F806CC;
  font-family: "Montserrat", "sans-serif";
  font-weight: 500;
}

p,
dl,
ul {
  margin-bottom: 0;
}

p,
em,
dd,
li {
  color: white;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

dd,
li {
  text-align: left;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}

/* Top Images */
.top-img {
  position: absolute;
  left: 2px;
  opacity: 0;
}

.top-img:hover {
  opacity: 1;
}

/* Iframes */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Containers */
.container-fluid {
  padding: 2% 10%;
}

.content-box {
  padding: 20px 0;
}

/* Sections */
.purple-section {
  background-color: #2E024920;
}

/* Language Section */
#language .container-fluid {
  padding: 1% 9%;
}

.language-img {
  width: 2.5%;
  margin-right: 5px;
}

.language-btn-left {
  border-radius: .25rem 0 0 .25rem;
}

.language-btn-right {
  border-radius: 0 .25rem .25rem 0;
}

/* Title Section */
#title .container-fluid {
  padding: 0 10% 2%;
}

.title-img {
  width: 70%;
}

/* Social Media Section */
#social-media .container-fluid {
  padding: 0.5% 0;
}

.social-container {
  display: inline-block;
  position: relative;
  width: 5%;
}

.social-container img {
  width: 100%;
  height: 100%;
}

.social-container:hover .social-img {
  opacity: 0;
}

/* Content Section */
#content .container-fluid {
  padding-top: 2%;
}

/* Info Section */
.info-title-img {
  width: 60%;
}

.info-img {
  padding: 25px 0;
  width: 90%;
}

.info-text {
  padding: 0 40px;
  text-align: left;
}

.info-description-list {
  padding: 0 40px;
}

.info-list {
  padding: 0 75px;
}

.info-video-container {
  position: relative;
  width: 90%;
  margin: 25px auto;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

/* Media Section */
.media-title-img {
  width: 85%;
  padding: 45px 0;
}

.screenshots-img {
  margin-bottom: 30px;
  width: 96%;
}

.devlog-img {
  width: 102%;
}

/* Team Section */
.team-member {
  padding-left: 14px;
  padding-right: 38px;
}

.team-member-img {
  width: 80%;
  margin: 20px;
}

.team-card {
  margin: 20px 0;
  padding-left: 6px;
  text-align: left;
}

.team-card-title,
.team-card-category {
  margin: 10px 0;
}

.team-card-title {
  font-size: 1.25rem;
}

.team-card-category {
  font-size: 1.0rem;
}

.team-card-content {
  color: #939393;
}

.team-card-link {
  margin-top: 25px;
  color: #F806CC
}

.team-card-link:hover {
  color: hsl(180, 40%, 94%);
}

.team-logo-container {
  display: inline-block;
  position: relative;
  margin-top: 25px;
  width: 10%;
}

.team-logo-container img {
  width: 100%;
  height: 100%;
}

.team-logo-container:hover .team-logo {
  opacity: 0;
}

.team-logo {
  width: 10%;
}

/* Footer Section */
#footer .container-fluid {
  padding: 1% 0;
}

.copyright {
  font-size: .85rem;
  padding: 10px 0 20px;
  margin-bottom: 0;
}

/* Media Queries */
@media (max-width: 1440px) {
  /* Laptop */

  /* Title Section */
  .title-img {
    width: 99%;
  }

  /* Info Section */
  .info-title-img {
    width: 90%;
  }

  /* Media Section */
  .media-title-img {
    width: 90%;
  }

  /* Team Section */
  .team-content div {
    padding-left: 8px;
  }

  .team-title-img {
    width: 80%;
  }

  /* Footer Section */
  .copyright {
    font-size: .6rem;
  }
}

@media (max-width: 1000px) {
  /* Mobile */

  /* Language Section */
  #language .button {
    width: 2%;
  }

  .language-img {
    width: 5%;
  }

  /* Social Media Section */
  .social-container {
    width: 10%;
  }

  .info-text,
  .info-description-list,
  .info-text,
  .info-list {
    font-size: 2.3rem;
  }

  /* Team Section */
  .team-content {
    margin-left: 20px;
    text-align: left;
  }

  .team-member-img {
    margin-left: 0px;
  }

  .team-logo-container {
    width: 20%;
  }

  /* Footer Section */
  .copyright {
    font-size: 1.1rem;
  }
}