body {
  font-family: "Mohave", "Montserrat", "sans-serif";
  text-align: center;
  background-color: #0c1d29;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: 500;
}

p {
  margin-bottom: 0;
}

p,
em {
  color: white;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

a,
a:hover {
  color: white;
}

.team-member div {
  float: left;
}

/* Rows */
.row {
  margin-top: 1rem;
}

/* Cards */
.card {
  border-color: #0c1d29;
}

.card-header {
  background-color: #205b5c;
}

.card-body {
  background-color: #276f70;
}

.card-header h5,
.card-header h3 {
  margin: 8px 0;
}

.card-title h5,
.card-text h6 {
  font-size: 1.2rem;
}

/* Containers */
.container-fluid {
  padding: 3% 16%;
  padding-bottom: 4%;
}

.content-box {
  padding: 20px 0;
}

/* Sections */
/* Title Section */
.language-container {
  padding: 2% 9%;
}

.language-img {
  width: 2.5%;
  margin-right: 5px;
}

.language-btn-left {
  border-radius: 0.25rem 0 0 0.25rem;
}

.language-btn-right {
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #0c1d29;
  border-color: #0c1d29;
}

#title {
  background-image: url("../images/title-banner.png");
  background-position: center;
  background-size: cover;
  min-height: 46em;
}

.wishlist-steam-container {
  margin-top: 200px;
}

.btn-wishlist-steam {
  padding: 15px 50px;
  text-transform: uppercase;
  margin: 100px;
}

.btn-wishlist-steam,
.btn-wishlist-steam:hover {
  background-color: #0c1d29;
  border-color: #0c1d29;
}

.btn-text {
  font-size: 1.5rem;
}

/* Game Section */

/* FAQ Section */
#faq {
  background-image: url("../images/faq.png");
  background-position: center;
  background-size: cover;
}

.faq-img {
  width: 100%;
}

.faq-card .card-title {
  margin-bottom: 20px;
}

/* Team Section */
.team-member {
  padding-left: 14px;
  padding-right: 38px;
}

.team-member-img {
  width: 80%;
  margin: 20px 0 20px 0;
}

.team-card {
  margin: 15px 0 20px 0;
  padding-left: 6px;
  text-align: left;
}

.team-card-title,
.team-card-category {
  margin: 8px 0;
}

.team-card-title {
  font-size: 1.5rem;
}

.team-card-category,
.team-card-content {
  font-size: 1.15rem;
}

.team-card-link {
  margin-top: 25px;
}

.team-card-link:hover,
.team-card-link-hover {
  color: #eb100f;
}

/* Special Thanks Section */

/* Contributors Section */
#contributors {
  background-image: url("../images/contributors.png");
  background-position: center;
  background-size: cover;
}

.contributor-img {
  width: 25%;
}

/* Social Media Section */
.social-media-container {
  padding-bottom: 1%;
}

.social-media-container a {
  padding: 10px;
  margin: 0 40px;
  font-size: 2rem;
}

.social-media-container a:hover {
  color: #eb100f;
}

/* Footer Section */
#footer .container-fluid {
  padding: 1% 30%;
}

.footer-logos-container {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-logo img {
  width: 65%;
}

.footer-logo a:hover {
  opacity: 0.7;
}

.copyright {
  font-size: 0.85rem;
  font-family: "Montserrat", "sans-serif";
  padding: 10px 0 20px;
  margin-bottom: 0;
}

/* Media Queries */
@media (max-width: 1440px) {
  /* Laptop */

  /* Title Section */
  .title-img {
    width: 99%;
  }

  /* Game Section */

  /* FAQ Section */

  /* Team Section */

  /* Contributors Section */

  /* Social Section */

  /* Footer Section */
  .copyright {
    font-size: 0.6rem;
  }
}

@media (max-width: 992px) {
  /* Tablet */
  p {
    font-size: 1.3rem;
  }

  /* Title Section */
  .language-container {
    padding-top: 6%;
  }

  .language-img {
    width: 5%;
  }

  /* Game Section */
  .w-50 {
    width: 96% !important;
  }

  /* FAQ Section */

  /* Team Section */
  .team-content {
    margin-left: 20px;
  }

  .team-member-img {
    margin-left: 0px;
  }

  .team-card {
    margin-top: 20px;
  }

  .team-card-title {
    margin-top: 0;
  }

  /* Contributors Section */
  .contributor {
    margin: 40px 0;
  }

  /* Social Media Section */

  /* Footer Section */
  .copyright {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  /* Mobile */

  /* Team Section */
  .team-card {
    text-align: center;
  }
}
