body {
  font-family: "Montserrat", "sans-serif";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: 500;
}

p,
dl,
ul {
  margin-bottom: 0;
}

p,
em,
dd,
li {
  color: white;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

dd,
li {
  text-align: left;
}

.team-member div {
  float: left;
}

/* Rows */
.row {
  margin-top: 1rem;
}

/* Cards */
.card-header h5 {
  margin-bottom: 0;
}

/* Containers */
.container-fluid {
  padding: 3% 16%;
  padding-bottom: 4%;
}

.content-box {
  padding: 20px 0;
}

/* Sections */
/* Title Section */
.language-container {
  padding: 1% 9%;
}

.language-img {
  width: 2.5%;
  margin-right: 5px;
}

.language-btn-left {
  border-radius: 0.25rem 0 0 0.25rem;
}

.language-btn-right {
  border-radius: 0 0.25rem 0.25rem 0;
}

#title {
  background-image: url("../images/titleBanner.png");
  background-position: center;
  background-size: cover;
}

.wishlist-steam-container {
  margin-top: 175px;
}

.btn-wishlist-steam,
.btn-wishlist-steam:disabled {
  /* TODO: Remove ':disabled' when Steam page is published. */
  padding: 15px 50px;
  text-transform: uppercase;
  background-color: #0c1d29;
  border-color: #0c1d29;
  margin: 100px;
}

.btn-wishlist-steam:hover {
  background-color: #0c1d29;
  border-color: #0c1d29;
}

.btn-text {
  font-size: 0.95rem;
}

/* Game Section */
#game {
  background-color: rgb(23, 22, 26);
}

/* FAQ Section */
#faq {
  background-image: url("../images/screenshot3.png");
  background-position: center;
  background-size: cover;
}

.faq-img {
  width: 100%;
}

/* Team Section */
#team {
  background-color: rgb(23, 22, 26);
}

.team-member {
  padding-left: 14px;
  padding-right: 38px;
}

.team-member-img {
  width: 80%;
  margin: 20px 0 20px 0;
}

.team-card {
  margin: 20px 0;
  padding-left: 6px;
  text-align: left;
}

.team-card-title,
.team-card-category {
  margin: 10px 0;
}

.team-card-title {
  font-size: 1.25rem;
}

.team-card-category {
  font-size: 1rem;
}

.team-card-content {
  color: white;
}

.team-card-link {
  margin-top: 25px;
  color: #ea110f;
}

.team-card-link:hover,
.team-card-link-hover {
  color: #eaf6f6;
}

/* Contributors Section */
#contributors {
  background-image: url("../images/screenshot2.png");
  background-position: center;
  background-size: cover;
}

.contributor-img {
  width: 25%;
}

/* Social Media Section */
#social-media {
  background-color: rgb(23, 22, 26);
}

.social-media-container {
  padding-bottom: 1%;
}

.social-media-container a {
  color: white;
  padding: 10px;
  margin: 0 40px;
  font-size: 2rem;
}

.social-media-container a:hover {
  color: black;
}

/* Footer Section */
#footer {
  background-color: rgb(23, 22, 26);
}

#footer .container-fluid {
  padding: 1% 0;
}

.footer-logos-container a {
  margin: 0 40px;
  width: 8%;
}

.footer-logos-container img {
  width: 100%;
}

.copyright {
  font-size: 0.85rem;
  padding: 10px 0 20px;
  margin-bottom: 0;
}

/* Media Queries */
@media (max-width: 1440px) {
  /* Laptop */

  /* Title Section */
  .title-img {
    width: 99%;
  }

  /* Game Section */

  /* FAQ Section */

  /* Team Section */
  .team-title-img {
    width: 80%;
  }

  .team-content div {
    padding-left: 8px;
  }

  /* Contributors Section */
  .contributors-title-img {
    width: 80%;
  }

  /* Social Section */

  /* Footer Section */
  .copyright {
    font-size: 0.6rem;
  }
}

@media (max-width: 1000px) {
  /* Mobile */

  /* Title Section */
  .language-img {
    width: 5%;
  }

  /* FAQ Section */

  /* Team Section */
  .team-content {
    margin-left: 20px;
    text-align: left;
  }

  .team-member-img {
    margin-left: 0px;
  }

  /* Contributors Section */
  .contributor {
    margin: 40px 0;
  }

  /* Social Media Section */

  /* Footer Section */
  .copyright {
    font-size: 1.1rem;
  }
}
